* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #111;
    background-color: #fff;
}

footer {
    padding-block: 2rem;
    color: #fff;
    background-color: #333333;
}

.copyright {
    text-align: right;
    font-size: 12px;
}

main,
.page-width {
    max-width: 1200px;
    margin-inline: auto;
}

main {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 226px 1fr;
    align-items: start;
    gap: 2rem;
}


aside {
    position: sticky;
    top: 2rem;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    margin-block-end: 1em;
}

a {
    text-decoration: none;
}

.sidebar {
    min-height: 521px;
    background-color: transparent;
    border: 3px solid #E1E8EF;
}

.sidebar:not(:last-child) {
    margin-block-end: 1rem;
}

.sidebar-item {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-top: 1px solid #E1E8EF;
    padding: 0 20px;
}

.sidebar-item img {
    width: 9px;
    height: 14px;
}

.sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 171px;
}

.sidebar-logo img {
    top: 42px;
    left: 386px;
    width: 163px;
    height: 54px;
    margin-bottom: 15px;
}

.button-logo {
    background-color: #42A7C2;
    border: none;
    padding: 8px;
    color: #fff;
    width: 176px;
    height: 43px;
    border-radius: 5px;
    letter-spacing: 1.8px;
}

.button-logo span {
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    padding: 15px
}

.header a {
    color: #7B7B7B;
}

.right-item {
    display: flex;
    gap: 25px;
}

.right-item img {
    margin-left: 5px;
}

.search-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #EAF1F7;
    border-radius: 50px;
    width: 100%;
}

.search-bar span {
    margin-right: 10px;
    color: #000;
}

.search-bar button {
    width: 94px;
    height: 49px;
    background-color: #42A7C2;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.search {
    background-color: #fff;
    width: 426px;
    margin: 10px;
    display: flex;
    border-radius: 50px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #CED4DA;
    align-items: center;
}

.search input {
    background: transparent;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    color: #AFAFAF;
}

.search input:focus {
    outline: none;
}

.guide-header,
.explain-header {
    margin: 30px 0 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.guide-title h3 {
    color: #42A7C2;
    font-size: 26px;
}

.guide-title span {
    font-size: 16px;
}

.guide-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.guide-item {
    width: 300px;
    height: 145px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #42A7C2;
    color: #42A7C2;
    border-radius: 10px;
}

.guide-item img {
    width: 41px;
    height: 27px;
    margin-bottom: 13px;
}

.guide-item3 img {
    width: 36px;
    height: 42px;
}

.guide-item4 img {
    width: 29px;
    height: 29px;
}

.guide-item5 img {
    width: 30px;
    height: 37px;
}

.guide-item6 img {
    width: 41px;
    height: 32px;
    margin-bottom: 0px;
}

.guide-item span {
    font-weight: bold;
    font-size: 18px;
    text-overflow: clip;
    text-align: center;
    padding: 0 40px;
    letter-spacing: 0;
}

.explain-title {
    position: relative;
    margin: 20px 0;
}

.explain-title .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #42A7C2;
}

.explain-title .line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 4px;
    background-color: #42A7C2;
}

.explain-title h1 {
    position: relative;
    font-size: 16px;
    color: #58BFD3;
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
}

.explain-list {
    display: flex;
    gap: 18px;
    margin-bottom: 50px;
}

.explain-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EAF1F7;
    width: 220px;
    height: 160px;
    border-radius: 8px;
}

.explain-item img {
    width: 135px;
    height: 61px;
}

.explain-item span {
    color: #42A7C2;
    font-weight: 700;
    margin-top: 20px
}